
*{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.ml-4 {
  margin-left: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.github {
  display: flex;
  cursor: pointer;
  align-items: center;
  img {
    width: 30px;
  }
}

.brand-logo {
  font-family: 'Bebas Neue', cursive;
}